// Mixins Here

.flex(@dir:row, @justify:center, @align:center ){
    display: flex;
    flex-direction: @dir;
    justify-content: @justify;
    align-items: @align;

}

.bordered(){
    border:1px red solid;
}
