// Navigation code here

.nav-bar{
    .flex();
    flex-wrap: wrap;
    background:@nav-bg;
    margin:0 20%;

}
    h1{
        text-align: center;
        padding:2% 0;
        width:100%;
        font-size:3.8rem;
    }

    nav{
        .flex();
        justify-content: space-around;
        width:80%;
        margin-bottom:2%;

    }

    